<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>VigiRRD</title>
</head>

<body>
    <p>Please choose one of these graphs:</p>
    <form action="${tg.url('/')}" method="get">
        <input type="hidden" name="host" value="${host}" />
        <ul style="list-style-type: none">
            <li py:for="graph in graphs">
                <input type="radio" name="graphtemplate" value="${graph}" />
                ${graph}
            </li>
        </ul>
        <input type="submit" />
    </form>
</body>
</html>
