*.pyc
*.pyo
*.egg-info
*~
*.swp
.directory
*,cover

.coverage
develop-eggs/
extend-develop/
parts/
eggs/
*-log.txt
.installed.cfg
bin/
build/
dist/
.pydevproject
.pydevproject.bak
.project
.settings
.noseids
doc/apidoc/
doc/_build/
doc/coverage/
*/i18n/*/LC_MESSAGES/*.mo
*/i18n/*/LC_MESSAGES/*.js
src/twisted/plugins/dropin.cache

