Source: vigilo-vigirrd
Section: vigilo
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 python (>= 2.6.6-3~),
 python-setuptools,
 python-babel
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/
X-Python-Version: >= 2.5

Package: vigilo-vigirrd
Architecture: all
Pre-Depends: vigilo-vigiconf-local
Suggests: vigilo-vigirrd-doc
Depends:
 ${misc:Depends},
 ${python:Depends},
 libapache2-mod-wsgi
Description: Web interface to display RRD files in Vigilo
 Web interface to display RRD files in Vigilo

Package: vigilo-vigirrd-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends} ${misc:Depends}
Description: Web interface to display RRD files in Vigilo (documentation)
 Web interface to display RRD files in Vigilo.
 .
 This package contains documentation about the vigilo-vigirrd package.
