#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

PKGNAME=$(shell printf "%s" `dpkg-parsechangelog | grep '^Source:' | cut -d: -f2-`)
VERSION=$(shell printf "%s" `dpkg-parsechangelog | grep '^Version:' | cut -d: -f2-`)

ifeq "$(NOPY)" ""
	helper=python2
else
	helper=python2_nopy
endif

%:
	dh $@ --with $(helper),sphinxdoc

override_dh_auto_clean:
	dh_auto_clean -- buildclean
	$(RM) -rf vigilo_vigirrd.egg-info
	find vigirrd/i18n/ -name '*.mo' -o -name '*.js' -delete
ifneq "$(NOPY)" ""
	-rm -f $(CURDIR)/debian/docs $(CURDIR)/debian/copyright
endif

override_dh_auto_build:
	/usr/bin/python setup.py compile_catalog
	$(MAKE) deployment/logrotate.conf deployment/settings.ini \
	        deployment/vigirrd.conf deployment/vigirrd.wsgi \
	        deployment/vigirrd.cron

override_dh_auto_install:
	/usr/bin/python setup.py install --root=debian/$(PKGNAME) \
	    --single-version-externally-managed \
	    --install-layout=deb
	mkdir -p debian/$(PKGNAME)/var/log/vigilo/vigirrd/
	mkdir -p debian/$(PKGNAME)/var/cache/vigilo/sessions/
	mkdir -p debian/$(PKGNAME)/var/cache/vigilo/vigirrd/img \
	         debian/$(PKGNAME)/var/cache/vigilo/vigirrd/db
	find vigirrd/i18n/ -name '*.mo' -o -name '*.js' -exec \
	    'mv' '{}' "debian/$(PKGNAME)/usr/share/pyshared/{}" ';'

override_dh_auto_test:

override_dh_installdocs:
ifneq "$(shell dh_listpackages | grep -- -doc)" ""
	PYTHONPATH=src/ /usr/bin/sphinx-build -b html -d doc/_build/doctrees \
	                    -D version=$(VERSION) -D release=$(VERSION) \
	                    doc/ debian/$(PKGNAME)-doc/usr/share/doc/$(PKGNAME)-doc/html/
endif

override_dh_sphinxdoc:
ifneq "$(shell dh_listpackages | grep -- -doc)" ""
	dh_sphinxdoc -p $(PKGNAME)-doc
endif

.PHONY: override_dh_auto_clean \
		override_dh_auto_build \
		override_dh_auto_install \
		override_dh_auto_test \
		override_dh_installdocs \
		override_dh_sphinxdoc
